* {
  box-sizing: border-box;
}
.sectionsizer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
  background-color: #2B3E50;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  max-width: 100%;
  height: 80px;
  padding: 5px;
  background: #cc5500;
}
.logo {
  float: left;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 2.4em;
  margin-left: 2%;
  padding-top: 0.5rem;
}
.logo a {
  text-decoration: none;
  color: white;
}
nav {
  margin-right: 2%;
}
.nav-bar {
  padding: 0;
  margin: 0;
  float: right;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}
.nav-bar li {
  display: inline-block;
  padding: 30px 10px;
}
.nav-bar a {
  padding: 5px;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
}
section.preddictlogo {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
}
section.preddictlogo img {
  width: 350px;
  align-items: center;
}
.jumbotron {
  max-width: 100%;
  flex-direction: column;
  margin: 15%;
  font-size: 75px;
  align-items: center;
  display: flex;
  background-color: #4E5D6C;
}
@media (max-width: 500px) {
  .jumbotron {
    margin: 30px;
  }
}
.jumbotron h1.jumbotronheader {
  display: flex;
  color: #cc5500;
  text-align: center;
}
.jumbotron p.jumbotronparagraph {
  color: white;
  display: flex;
  text-align: center;
  font-size: 20px;
}
.jumbotron p.jumbotronparagraph2 {
  color: white;
  display: flex;
  text-align: center;
  font-size: 20px;
}
.jumbotron p.lead {
  max-width: 100%;
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  cursor: pointer;
  background: #cc5500;
  width: 20rem;
  height: 7rem;
  padding: 5rem;
  text-decoration: none;
  text-align: center;
  transition-duration: 0.4s;
}
.jumbotron a.signupbutton {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-left: 3.15rem;
  cursor: pointer;
  color: white;
  transition-duration: 0.4s;
}
.jumbotron p.lead:hover {
  background-color: white;
  color: black;
}
.jumbotron .companies {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
  flex-direction: row;
}
.jumbotron .companies img {
  max-width: 30%;
  padding: 0.25rem;
}
.form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
}
